.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #ece9e6, #ffffff);
  }
  
  .login-card {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  }
  
  .full-width {
    width: 100%;
    margin-top: 1rem;
  }
  
  .login-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }
  ::ng-deep .mat-mdc-card-title{
    color: #ffffff !important;
  }