/* You can add global styles to this file, and also import other style files */


$primary : #0652a3;
$secondary : #828282;
$black : #000000;
$white : #ffffff;
$green : #28A745;
$red : #DC3545;
$lightblue: #EBF4FF;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
